### Python Basics

In [3]:
1+2

3

In [1]:
4%2

0

In [2]:
4/2

2.0

In [3]:
5//2

2

In [4]:
5/2

2.5

In [5]:
#BODMAS - Bracket, off, division, multiplication, substraction
5+3*2

11

In [6]:
(5+3)*2

16

In [7]:
type(4/2)

float

In [8]:
type(2)

int

In [9]:
type(2.5)

float

In [13]:
a = 10
b = 20
c=a+b
c

30

In [14]:
type(c)

int

In [15]:
True

True

In [16]:
False

False

In [18]:
#boolean operation
True or False

True

In [20]:
type(True and False)

bool

In [21]:
True | False

True

In [26]:
a=10
b=20
a+b>30 or a-b<10

True

In [40]:
### Strings
str1="Krish is a good boy"
str1

'Krish is a good boy'

In [71]:
#type casting
str
str(1)

TypeError: 'str' object is not callable

In [43]:
print(str1)

Krish is a good boy

In [44]:
a=20
a

20

In [45]:
print(a)

20

In [48]:
str1 = "A good boy"
str2 = "A bad boy"

In [49]:
print(str1),print(str2)

A good boy
A bad boy

(None, None)

In [51]:
str1+" "+str2

'A good boy A bad boy'

In [53]:
name=input("Enter your name?")
print(name)

Enter your name?ROHIT
ROHIT

In [59]:
a=float(input("Enter number 1:"))
b=float(input("Enter number 2:"))
c=a+b
print("The output is", c)

Enter number 1:21.5
Enter number 2:22.4
The output is 43.9

In [62]:
### string formating
first_name = input("First name : ")
last_name = input("Second name :")
print("Your name is {first} and {last}".format(last=last_name, first=first_name))

First name : a
Second name :b
Your name is a and b

### Variable Dynamic Typing

In [72]:
#strong typing
1 + int("2")

3

# Conditional statement

In [77]:
#if and elif

a=int(input("Enter the number 1 : "))
b=int(input("Enter the number 2 : "))
c=a-b

if c<0:
    print("negavite number")
elif c>10:
    print("c is greater than 10")
else:
    print("the number is positive")

Enter the number 1 : 40
Enter the number 2 : 10
c is greater than 10

# Data structures
#### 1. List
#### 2. Tuple
#### 3. String
#### 4. Sets

In [78]:
lst = [1,2,3, "Krish", "Naik"]
type(lst)

list

In [79]:
list([1,2,3, "Krish", "Naik"])

[1, 2, 3, 'Krish', 'Naik']

In [80]:
lst.append("10")

In [81]:
lst

[1, 2, 3, 'Krish', 'Naik', '10']

In [84]:
lst[2] = 2
lst

[1, 2, 2, 'Krish', 'Naik', '10']

In [86]:
lst.count(2)

2

In [88]:
#Indexing
str1="Krish"
str1[1]

'r'